<ul
    <li> <h1> <%= link_to 'Wellcome to home', root_path %> </h1></li>
    <% if user_signed_in? %>
         <li> <%= current_user.email %> </li>
         <li> <%= link_to 'Edit user info', edit_user_registration_path %> </li>
         <li> <%= link_to 'Post new blog', new_blog_path %> </li>
        <li> <%= link_to 'Login Out', destroy_user_session_path, method: :delete %> </li>
    <% else %>
        <li> <%= link_to 'Registration', new_user_registration_path %> </li>
        <li> <%= link_to 'Login', new_user_session_path %> </li>
    <% end %>
</ul>