<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Type:</strong>
  <%= @blog.info %>
</p>

<p>
  <strong>Body:</strong>
  <%= @blog.body %>
  <br/>user
  <%= @blog.user_id %>
</p>


<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
