<!DOCTYPE html>
<html>

<head>
  <title>AuthProject</title>
  <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

  <div id="myModal" class="modal">
    <div class="modal-dialog">
      <div class="modal-content">
      <center>
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            <h1 class="modal-title">Auth</h1>
          </div>
          <div class="modal-body">
            <% if current_user %>
              <%= current_user.name %> <%= image_tag(@auth['info']['image']) %>
              <%= link_to "Siged Out", 'siged_out', method: :delete %><i class="fa fa-remove fa-md"></i><% end %>
            <% else %>
              <%= link_to "auth/facebook" do %><i class="fa fa-facebook fa-md"></i><% end %>
              <%= link_to "auth/twitter" do %><i class="fa fa-twitter fa-md"></i><% end %>
              <%= link_to "auth/github" do %><i class="fa fa-github fa-md"></i><% end %>
            <% end %>
          </div>
          <%= yield %>
        </center>
      </div>
    </div>
  </div>
</body>

</html>