/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.notice {
  margin: 1px;
  padding: 15px;
  width: auto;
  background-color: blueviolet;
  color: #ffffff;
  font-size: 19px;
  font-weight: 600;
  text-align: center;
}
.alert {
  margin: 1px;
  padding: 15px;
  width: auto;
  background-color: crimson;
  color: #ffffff;
  font-size: 19px;
  font-weight: 600;
  text-align: center;
}
